<div class="alert alert-warning"><p>This site is under construction</p></div>
<div class="container">
  <div class="main-content jumbotron">
    <div class="page-header main-description-header">
      <h2>Strongly Connected Components</h2>
    </div>

    <div class="main-description">
      <div class="panel-group sccs" id="accordion">

        <div class="learn learn-button panel panel-default">
          <div class="learn learn-heading panel-heading">
            <h3 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent"#accordion"
                href="#collapseLearn">
                Learn
              </a>
            </h3>
          </div>
          <div id="collapseLearn" class="panel-collapse collapse">
            <div class="learn learn-body panel-body">
              <p>
                I've been through public and private schools, independent
                studies, community college, university, and an education
                bootcamp. The most important thing I've taken from them
                is a knowledge of what it takes to learn effectively.
                For me it comes in the form of intrinsic motivation paired
                with immersion. I have a hard time applying myself to things
                that I'm not excited about, but fortunately I'm easily
                excitable.
              </p>
            </div>
          </div>
        </div>

        <div class="teach teach-panel panel panel-default">
          <div class="teach teach-heading panel-heading">
            <h3 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent"#accordion"
                href="#collapseTeach">
                Teach
              </a>
            </h3>
          </div>
          <div id="collapseTeach" class="panel-collapse collapse">
            <div class="teach teach-body panel-body">
              <p>
                While teaching web development at
                <a href="http://www.appacademy.io">App Academy</a> I get to
                strengthen what I've learned, identify my weaknesses, and
                further explore the field with my coworkers.
              </p>
            </div>
          </div>
        </div>

        <div class="create create-panel panel panel-default">
          <div class="create create-heading panel-heading">
            <h3 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent"#accordion"
                href="#collapseCreate">
                Create
              </a>
            </h3>
          </div>
          <div id="collapseCreate" class="panel-collapse collapse">
            <div class="create create-body panel-body">
              <p>
                My first project was a program for an fMRI experiment examining
                the effects of mood on cognition in schizophrenia patients.
                I've since completed and deployed several projects which can be
                found here:
                <br>
                a<strong>n</strong>imal <strong>back</strong>
                <br>
                Droptask Clone
                <br>
                Happ
              </p>
            </div>
          </div>
        </div>

        <div class="inquire inquire-panel panel panel-default">
          <div class="inquire inquire-heading panel-heading">
            <h3 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent"#accordion"
                href="#collapseInquire">
                Inquire
              </a>
            </h3>
          </div>
          <div id="collapseInquire" class="panel-collapse collapse">
            <div class="inquire inquire-panel panel-body">
              <p>
                I have worked on research projects studying the brain
                and cognition using imaging techniques, animal models,
                sleep deprivation, cognitive training programs, and
                clinical populations.
                <br>
                I'm most interested in how software can be designed to mediate
                structural changes that produce improvements in cognitive
                function in both healthy and impaired populations.
                <br>
                Have a look at my <a>CV</a>
              </p>
            </div>
          </div>
        </div>

        <div class="tldr tldr-panel panel panel-default">
          <div class="tldr tldr-heading panel-heading">
            <h3 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent"#accordion"
                href="#collapseTldr">
                TL;DR
              </a>
            </h3>
          </div>
          <div id="collapseTldr" class="panel-collapse collapse">
            <div class="tldr tldr-body panel-body">
              <p>
                CV:<br>
                Resume:<br>
                Projects:<br>
                Github:<br>
                Twitter:<br>
                Email:<br>
                Phone:<br>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
