<div class="container">
  <div class="container main-content jumbotron">
    <div class="page-header main-description-header">
      <h3>Strongly Connected Components</h3>
    </div>

    <div class="main-description">
      <div class="panel-group sccs" id="accordion">

        <div class="learn learn-button panel panel-default">
          <div class="learn learn-heading panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent"#accordion"
                href="#collapseLearn">
                Learn
              </a>
            </h4>
          </div>
          <div id="collapseLearn" class="panel-collapse collapse">
            <div class="learn learn-body panel-body">
              <p>
                Went to school and studied stuff
              </p>
            </div>
          </div>
        </div>

        <div class="teach teach-panel panel panel-default">
          <div class="teach teach-heading panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent"#accordion"
                href="#collapseTeach">
                Teach
              </a>
            </h4>
          </div>
          <div id="collapseTeach" class="panel-collapse collapse">
            <div class="teach teach-body panel-body">
              <p>
                Teach stuff at App Academy
              </p>
            </div>
          </div>
        </div>

        <div class="create create-panel panel panel-default">
          <div class="create create-heading panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent"#accordion"
                href="#collapseCreate">
                Create
              </a>
            </h4>
          </div>
          <div id="collapseCreate" class="panel-collapse collapse">
            <div class="create create-body panel-body">
              <p>
                Tippy tap on keys and build things
              </p>
            </div>
          </div>
        </div>

        <div class="inquire inquire-panel panel panel-default">
          <div class="inquire inquire-heading panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent"#accordion"
                href="#collapseInquire">
                Inquire
              </a>
            </h4>
          </div>
          <div id="collapseInquire" class="panel-collapse collapse">
            <div class="inquire inquire-panel panel-body">
              <p>
                Still have a lot of questions about the brain
              </p>
            </div>
          </div>
        </div>

        <div class="compete compete-panel panel panel-default">
          <div class="compete compete-heading panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent"#accordion"
                href="#collapseCompete">
                Compete
              </a>
            </h4>
          </div>
          <div id="collapseCompete" class="panel-collapse collapse">
            <div class="compete compete-body panel-body">
              <p>
                Play a crazy sport at a pro level
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
