<div class="main-content jumbotron">
  <div class="container about-me">
    <div class="about-me-header page-header">
      <h2>About Me</h2>
    </div>
    <div class="about-me-text">
      <p>
        Lorem ipsum dolor sit amet
        Consectetur adipiscing elit
        Integer molestie lorem at massa
        Facilisis in pretium nisl aliquet
        Nulla volutpat aliquam velit
        Phasellus iaculis neque
        Purus sodales ultricies
        Vestibulum laoreet porttitor sem
        Ac tristique libero volutpat at
        Faucibus porta lacus fringilla vel
        Aenean sit amet erat nunc
        Eget porttitor lorem
      </p>
    </div>
  </div>

  <div class="container my-work">
    <div class="my-work-header page-header">
      <h2>My Work</h2>
    </div>
    <div class="my-work-text">
      <p>
        orem ipsum dolor sit amet
        Consectetur adipiscing elit
        Integer molestie lorem at massa
        Facilisis in pretium nisl aliquet
        Nulla volutpat aliquam velit
        Phasellus iaculis neque
        Purus sodales ultricies
        Vestibulum laoreet porttitor sem
        Ac tristique libero volutpat at
        Faucibus porta lacus fringilla vel
        Aenean sit amet erat nunc
        Eget porttitor lorem
      </p>
    </div>
  </div>
</div>
